// Scrolls
@mixin scroll($background, $color) {
    &::-webkit-scrollbar {
        width: 8px;
        margin-right: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $background;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color;
        outline: 2px solid $background;
        border-radius: 10px;
    }
}
@mixin scrollHor($background, $color, $height) {
    &::-webkit-scrollbar {
        height: $height;
        margin-right: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $background;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color;
        outline: 2px solid $background;
        border-radius: 10px;
    }
}
