@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root{
    --c-primary: #1D90F4;
    --c-secondary: #545B69;
    --c-dark: #282A37;
    --c-white: #fff;
    --font: 'Ubuntu';
}