@import '../variables';

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-label {
        font-weight: 300;
        font-size: 17px;
    }
    [type="email"],
    [type="text"],
    &-select,
    [type="password"] {
        width: 100%;
        height: 50px;
        background-color: var(--c-secondary);
        border: none;
        padding: 0 15px;
        border-radius: 8px;
        transition: all 0.4s;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 300;

        &:hover,
        &:focus {
            color: var(--c-dark);
            background-color: var(--c-white);
        }

        &:focus-visible{
            outline: none;
        }
    }
    &-alert{
        display: block;
        margin-top: 7px;
        letter-spacing: .6px;
        font-weight: 200;
        color: var(--c-error);
    }
    &-actions {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}

.btn-group{
    width: 100%;
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 200;
        font-size: 16px;
        font-family: var(--font);
        color: var(--c-white);
        &.active{
            background-color: var(--c-primary);
            border-color: var(--c-primary);
        }
    }
}